$family-serif: 'Open Sans', sans-serif;
$family-primary: 'Open Sans', sans-serif;
$family-mono: monospace;

$black: #111111;
$grey: #AAAAAA;
$white: #fff;
$surf-blue: #0a253e;

$body-background:	$white;
$background:	$white;
$border:	$grey;
$border-hover:	$grey;
