/node_modules/
/data/**/hash.*
/static/**/*
/public/
/public/**/*
.DS_Store
*/**/.DS_Store
.Ulysses-Group.plist
*/**/.Ulysses-Group.plist
/src/images
/src/photos
/src/images/**/*
/src/photos/**/*
/themes/iammatthias_v2/static/assets
/themes/iammatthias_v2/src/assets
/themes/iammatthias_v2/static/assets/**/*
/themes/iammatthias_v2/src/assets/**/*
.awspublish-iammatthias.com
.firebaserc
firebase.json
firebase-debug.log
