<div class="row fs">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " style="background-image: url(https://cdn.surfair.com/app/uploads/2016/05/aircraft_Slideshow-3.jpg); background-size: cover; background-position: center;">
        <section class="left">
            <h1 class="white">
                PAGE TITLE 
            </h1>

        </section>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 grey-bg">
        <section>
            <p>
                <iframe src="https://go.pardot.com/l/44522/2016-12-15/8wslw5" width="100%" height="650px" type="text/html" frameborder="0" allowTransparency="true" class="form"></iframe>
            </p>

        </section>

    </div>
</div>
